@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.navitem {
    color: black;
    font-weight: bold;
}

.about-me-section {


    background-color: #323f4b;
}

.about-me-section-sub-heading {
    color: #cced00;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}

.about-me-section-heading {
    color: #cced00;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;
}

.about-me-section-description {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 16px;
}

.about-me-section-image {
    width: 100%;
}

.skills-section {

    background-color: #52606d;
}

.skills-section-sub-heading {
    color: #cced00;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}

.skills-card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
}

.skills-card-image {
    width: 64px;
    height: 64px;
}

.skills-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.portfolio-logo {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: bold;
    border-style: solid;
    border-width: 0px;
    color: #323f4b;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'palatino';
}

.banner-section-bg-container {
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/001/788/307/small/relaxing-soft-pattern-of-fire-embers-on-black-background-in-4k-free-video.jpg");

    height: 100vh;
}

.banner-section-heading {
    color: white;
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 300;
}

.banner-section-description {
    color: green;
    font-family: "fantasy";
    font-size: 30px;
    font-weight: bold;

}

.banner-section-image {
    margin-top: 30px;
    border-radius: 15px;
    height: 90%;
    width: 75%;
    margin-bottom: 10px;
}

.person-name {
    color: #4b6cc1;
    font-family: 'Caveat';
}

.custom-button {
    color: white;
    background-color: #4b6cc1;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
}

.projects-section {
    background-color: #3e4c59;

}

.projects-section-sub-heading {
    color: #cced00;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}

.projects-section-heading {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;
}

.projects-card {
    background-color: #323f4b;
    border-radius: 8px;
}

.projects-card-image {
    width: 100%;
}

.projects-card-sub-title {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
}

.projects-card-title {
    color: white;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 500;
    margin-top: 5px;
}

.projects-card-description {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 20px;
}

.projects-card-link {
    color: #cced00;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: bold;
}

.services-section {
    background-color: #52606d;
}

.services-section-sub-heading {
    color: #cced00;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}

.services-section-heading {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;
}

.services-card {
    background-color: #323f4b;
    border-radius: 8px;
    padding: 20px;
}

.services-card-image {
    height: 48px;
    width: 48px;
}

.services-card-images {
    height: 48px;
    width: 55px;
}

.services-card-title {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: bold;
}

.services-card-description {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 20px;
}

.testimonials-section {
    background-color: #1f2933;
    padding: 40px;
}

.testimonials-section-sub-heading {
    color: #cced00;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}

.testimonials-section-heading {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;
}

.testimonials-card {
    background-color: #323f4b;
    padding: 20px;
}

.testimonials-card-image {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.testimonials-card-description {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 18px;
}

.testimonials-card-person-name {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
}

.footer-section {
    background-color: #0d2436;
}

.footer-section-image {
    width: 60px;
    height: 60px;
    border-radius: 40px;
}



.footer-section-sub-heading {
    color: #cced00;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}

.footer-section-text {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 14px;
}


.horizontal-line {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.icon {
    color: #ffffff;

}

.para1 {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;

}